* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}


/* HEADER SECTION */

.header {
  padding-left: 60px;
  padding-right: 60px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: inline-block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover {
  display: block;
}

.featuresNavLink:hover .dropdown {
  display: block;
}

.tryForFree,
.signUp {
  display: flex;
  width: 142px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--primary-300-base, #0065FE);
  color: var(--neutral-white, #FFF);
  font-size: 18px;
  font-family: 'Gilroy-SemiBold';
  line-height: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* padding: 0 20px 0 20px; */
}

nav .logo {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
}

nav .navBar {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  font-family: Gilroy-Medium;
  list-style-type: none;
}

.current,
.blueText .forgotPassword {
  color: var(--primary-300-base, #0065FE);
  cursor: pointer;
}

nav .registration {
  display: flex;
  align-items: center;
  gap: 24px;
  width: auto 504px;
  height: auto 40px;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold';
  cursor: pointer;
}

nav .featuresDropdown {
  display: flex;
  width: 2px;
  height: 48px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284FF);
}


/* URLs SECTION */

#urlSection {
  display: block;
}

#urlSection>div {
  padding-left: 246px;
  padding-right: 246px;
  margin-bottom: 76px;
}

.urlSectionTopText {
  color: #141414;
  text-align: center;
  padding: 46px 16px 46px 16px;
  margin: 0px;
}

.urlSectionTopText h1 {
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 90px;
  margin: 0px;
}

.urlSectionTopText img {
  width: 150px;
  height: 19.908px;
  transform: translate(10px, -25px);
}

.urlSectionTopText small {
  text-align: center;
  font-size: 13px;
  font-family: 'Gilroy-Medium';
  line-height: 20px;
}

.urlSectionTopLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold';
}

.urlSectionBottom {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.urlSectionBottomRect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;
  border: 0.5px solid var(--primary-400, #005AE2);
  background: rgba(254, 254, 254, 0.10);
  backdrop-filter: blur(106px);
  padding: 30px 50px;
  width: 620px;
  z-index: 1;
  background: linear-gradient(90deg, rgba(226, 233, 240, 0.7) 0.68%, rgba(220, 228, 235, 0.7) 4.01%, rgba(226, 233, 240, 0) 50%);
}

.urlSectionBottomRect img {
  width: 384px;
  height: 80px;
}

.urlSectionBottomRect p {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: stretch;
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

.waterDropContainer {
  position: absolute;
  width: 215px;
  left: 12%;
  top: -7%;
}

.waterDropContainer img {
  width: 100%;
}

.urlSectionTableTop {
  display: flex;
}

.urlSectionTableTop img {
  width: 100%;
}


/* FEATURE'S SECTION */

#featuresSection {
  margin-bottom: 172px;
}

.featuresSectionTop {
  background: #F9FBFD;
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
}

.featuresSectionTopLeft {
  display: flex;
  width: 337px;
  flex-direction: column;
  color: #141414;
  font-size: 25px;
  font-family: Gilroy-Bold;
  line-height: 48px;
  margin-right: 124px;
}

.featuresSectionTopRight {
  display: flex;
  flex-grow: 1;
  padding: 0px 4px;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
}

.featuresSectionTopRight h3 {
  color: var(--text-color-main-text, #141414);
  font-size: 32px;
  font-family: Gilroy-SemiBold;
  line-height: 40px;
}

.featuresSectionTopRight p {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

.featuresSectionBottom {
  display: flex;
  align-items: flex-start;
  padding: 0px 93px 0px 100px;
  margin-top: 120px;
}

.featuresSectionBottom>* {
  width: 50%;
}

.featuresSectionBottomLeft {
  display: flex;
  padding-right: 96px;
}

.featuresSectionBottomLeftText {
  margin-left: 16px;
}

.featuresSectionBottomLeftText h2 {
  margin-bottom: 24px;
}

.featuresSectionBottomLeftText p {
  line-height: 28px;
}

.featuresSectionBottomRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.featuresSectionBottomRightTop {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.featuresSectionBottomRightBottom {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.featuresSectionBottomLeft h2 {
  color: #141414;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 32px;
}

.featuresSectionBottomLeft p {
  display: flex;
  flex-direction: column;
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 28px;
}

.featuresSectionFeatures p {
  display: flex;
  flex-direction: column;
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
  gap: 40px;
}

.featuresSectionFeatures h3 {
  color: var(--text-color-main-text, #141414);
  font-size: 32px;
  font-family: Gilroy-SemiBold;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 16px;
}


/* PRICING SECTION */

#pricingSection {
  padding-bottom: 112px;
}

.pricingSectionHead {
  padding: 42px 176px 68px 176px;
}

.pricingSectionHeadH2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.pricingSectionHeadH2 h2 {
  color: #141414;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
  margin-left: 16px;
  margin-bottom: 8px;
}

.pricingSectionHeadSmall {
  display: flex;
  flex-direction: column;
  color: var(--text-color-main-text, #141414);
  text-align: center;
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

.pricingSectionBanners {
  display: flex;
  justify-content: center;
}

.pricingCard {
  display: inline-block;
  border-radius: 12px;
  border: 0.4px solid #005AE2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  padding: 24px 66px 45px 80px;
  font-weight: normal;
  position: relative;
}

.pricingProfessional {
  padding: 95px 106px 148px 65px;
  background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
  color: #fff;
  border: none;
  z-index: 1;
}

.pricingBasic,
.pricingTeams {
  color: #141414;
}

.pricingBasic {
  transform: translateX(40px);
}

.pricingTeams {
  transform: translateX(-40px);
}

.pricingCardTitle {
  font-family: 'Gilroy-Medium';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 34px;
  font-weight: normal;
}

.pricingProfessional .pricingCardTitle {
  margin-bottom: 24px;
}

.pricingCardPrice {
  font-family: 'Gilroy-Bold';
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 8px;
}

.pricingCardDescr {
  font-family: 'Gilroy-Medium';
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}

.pricingProfessional .pricingCardDescr {
  margin-bottom: 24px;
}

.pricingCardPerks {
  list-style-type: none;
  padding: 0px;
}

.pricingCardPerks>li:not(:last-of-type) {
  margin-bottom: 24px;
}

.pricingCardPerks>li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 24px;
}

.pricingSectionButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-top: 68px;
}

.pricingSectionButtons {
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  line-height: 12px;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
}

.customPricing {
  color: var(--primary-300-base, #0065FE);
  border: 1px solid var(--primary-300-base, #0065FE);
  background-color: #fff;
  cursor: pointer;
}

.selectPricing {
  color: var(--neutral-white, #FFF);
  background: var(--primary-300-base, #0065FE);
  cursor: pointer;
}


/* FAQs SECTION */

#faqsSection {
  padding: 43px 324px 115px 324px;
}

.faqHederContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.faqHederContainer h2 {
  font-family: 'Gilroy-Bold';
  font-size: 40px;
  line-height: 32px;
  color: #141414;
  padding-left: 16px;
}

.faqList {
  list-style-type: none;
  padding-left: 0px;
}

.faqCheck {
  display: none;
}

.faqCheckLabel {
  cursor: pointer;
}

.faqListItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-family: 'Gilroy-Medium';
  font-size: 20px;
  line-height: 32px;
  color: #141414;
}

.faqHederContainer p {
  padding-right: 29px;
}

.faqAnswer {
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  line-height: 32px;
  color: #141414;
}

.faqListItem {
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 16px;
  padding-top: 32px;
}

.faqCheck:checked~.faqListItemHeader .faqOpenImage {
  display: none;
}

.faqCheck:not(:checked)~.faqListItemHeader .faqCloseImage {
  display: none;
}

.faqCheck:not(:checked)~.faqAnswer {
  display: none;
}


/* GET STARTED SECTION */

.getStartedSection {
  padding-top: 109px;
  padding-bottom: 53px;
  background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.getStartedSection h2 {
  display: flex;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
}

.getStarted {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--primary-400, #005AE2);
  color: var(--neutral-white, #FFF);
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  line-height: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}


/* FOOTER SECTION */

#footerSection {
  padding: 103px 120px 70px 120px;
}

.footerLogo {
  margin-bottom: 41px;
}

.footerContacts *:not(:last-of-type) {
  margin-right: 26px;
}

.footerTop {
  display: flex;
  gap: 71px;
  margin-bottom: 23px;
}

.footerLinkHeader {
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.footerLinks li {
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #112232;
}

.footerLinksTop {
  gap: 73px;
  display: flex;
}

.footerLinksBottom {
  gap: 73px;
  display: flex;
}

.footerBottom {
  text-align: right;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 20px;
  color: #112232;
}


/* Log In */

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.login .form,
.sign-up .form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
  margin: 0;
}

.form h2 {
  text-align: center;
  font-size: 14px;
  font-family: Gilroy-Medium;
  line-height: 20px;
  color: rgba(92, 111, 127, 1);
  margin-bottom: 16px;
}

.form p {
  text-align: center;
  font-size: 12px;
  font-family: Gilroy-Medium;
  line-height: 18px;
  color: rgba(160, 177, 192, 1);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.or {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  z-index: -1;
}

.inputBox img {
  transform: translate(-1850%, 50%);
  position: absolute;
  right: 0;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
}

.forgotPassword {
  width: 460px;
  height: 16px;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #0065FE;
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0px 10px 0px;
  background-color: #007BFF;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}


/* Sign Up */

.signUpPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

.sign-up {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}


/* Dashboard */

.myUrls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

.urlList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  list-style-type: none;
  min-height: 100vh;
}

.url {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.urlActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 5px;
  color: #0065FE;
  cursor: pointer;
}


/* contact */

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-image: url(../asserts/unsplashbg.svg), url(../asserts/bgOverlay.svg); */
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  position: relative;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.formCU {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 948px;
  align-items: center;
  justify-content: center;
  border: 175px 435px 175px 435px;
  gap: 12px;
  padding: 12px;
  margin: 0;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
  color: rgba(92, 111, 127, 1);
  margin-bottom: 16px;
}

.error {
  color: red;
}

.NotFound {
  background: #fff;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

.NotFound h1 {
  font-size: 40px;
  /* color: #f1356d; */
  margin-bottom: 20px;
}

.NotFound h1 span {
  font-size: 150px;
}

.NotFound a {
  text-decoration: none;
  color: #1915e6;
}

.NotFound a:hover {
  color: #f1356d;
}
